@import "../partials/variables";

.main {
  .heading {
    font-size: clamp(35px, 3vw, 60px);
    padding-bottom: 5px;
  }

  .sections {
    display: flex;
    justify-content: space-between;

    .preview {
      display: flex;
      flex-direction: column;
      gap: 15px;

      .previewHeading {
        font-size: clamp(25px, 2vw, 45px);
      }

      .previewDesc {
        padding-top: 5px;
        padding-bottom: 15px;
      }
    }

    .settings {
      .settingsHeading {
        font-size: clamp(25px, 2vw, 45px);
        padding: 10px 0 10px 0;
      }

      .options {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;

        .inputTextLabel {
          padding-bottom: 6px;
          font-weight: 600;
        }

        .checkbox {
          display: flex;

          .inputCheckboxLabel {
            padding-left: 6px;
          }

          input[type="checkbox"] {
            outline: none;
          }

          input[type="checkbox"]:checked {
            accent-color: $yellow;
          }
        }

        input {
          border: none;
          padding: 8px;
          border-radius: $radius;
          background-color: $base;
          caret-color: $white;
          color: $white;

          &:focus,
          &:active {
            background-color: $base-light;
            outline-color: $white-trans;
            outline-style: solid;
            outline-width: 1px;
          }

          &::placeholder {
            background-color: $white-trans;
          }
        }

        @media (max-width: 876px) {
          grid-template-columns: repeat(2, 1fr);
        }
      }
    }

    @media (max-width: 876px) {
      flex-direction: column;
    }
  }

  .iframeCode {
    padding-bottom: 15px;

    .iframeCodeHeader {
      display: flex;
      flex-direction: row;
      align-items: center;

      .codeIcon {
        font-size: clamp(25pw, 2vw, 45px);
      }

      .iframeCodeHeading {
        padding-left: 5px;
        font-size: clamp(25pw, 2vw, 45px);
      }
    }

    .iframeCodeDesc {
      padding-top: 5px;
      padding-bottom: 15px;
    }

    .pre {
      max-width: 80vw;
      padding: 0.5em;
      background: $base;
      position: relative;
      margin-bottom: 10px;
      border-radius: $radius;

      .code {
        display: inline-block;
        overflow-wrap: anywhere;
        white-space: pre-wrap;
      }
    }

    .copyBtn {
      all: unset;
      position: absolute;
      padding: 6px;
      top: 4px;
      right: 4px;
      border-radius: $radius;
      cursor: pointer;

      .copyBtnIcon {
        font-size: 18px;
      }

      &:hover {
        background: $base-lightest;
      }
    }
  }
}
