@import "../partials/variables";

.main {
  .heading {
    font-size: clamp(25px, 3vw, 40px);
  }

  .settings {
    .settingsHeading {
      font-size: clamp(25px, 2vw, 45px);
    }

    .options {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 15px;

      .inputTextLabel {
        padding-bottom: 6px;
        font-weight: 600;
      }

      .checkbox {
        display: flex;
        gap: 10px;

        input[type="checkbox"] {
          outline: none;
        }

        input[type="checkbox"]:checked {
          accent-color: $accent;
        }
      }

      input[type="range"] {
        outline: none;
        accent-color: $accent;
        padding: 0;
        margin: 0;

        &:focus,
        &:active {
          outline: none !important;
        }
      }

      input {
        border: none;
        padding: 8px;
        border-radius: $radius;
        background-color: $bg-alt;
        caret-color: $text-trans;
        color: $text-trans;

        &:focus,
        &:active {
          outline-color: $text;
          outline-style: solid;
          outline-width: 1px;
        }
      }

      @media (max-width: 876px) {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }

  .widgetPreview {
    margin-bottom: 20px;

    .previewHeading {
      font-size: clamp(25px, 2vw, 45px);
    }
  }

  .iframeCode {
    padding-bottom: 15px;

    .iframeCodeHeader {
      display: flex;
      flex-direction: row;
      align-items: center;

      .iframeCodeHeading {
        font-size: clamp(25pw, 2vw, 45px);
      }
    }

    .iframeCodeDesc {
      padding-top: 5px;
      padding-bottom: 15px;
    }

    .pre {
      max-width: 80vw;
      padding: 0.5em;
      background: $bg-alt;
      position: relative;
      margin-bottom: 10px;
      border-radius: $radius;

      .code {
        display: inline-block;
        overflow-wrap: anywhere;
        white-space: pre-wrap;
      }
    }

    .copyBtn {
      all: unset;
      position: absolute;
      padding: 6px;
      top: 4px;
      right: 4px;
      border-radius: $radius;
      cursor: pointer;

      .copyBtnIcon {
        font-size: 18px;
      }

      &:hover {
        background: $bg;
      }
    }
  }
}
