@import "partials/variables";

::-webkit-scrollbar {
  width: 13px;
  height: 100%;
}

::-webkit-scrollbar-track {
  background-color: $bg;
}

::-webkit-scrollbar-thumb {
  background-color: $accent;
  border: 3px solid $bg;
  border-radius: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-y: auto;
  height: -webkit-fill-available;
  height: stretch;
  height: fill-available;
  font-family: Intern system-ui, sans-serif;
  scroll-behavior: smooth;
  background-color: $bg-alt;
}

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
  min-height: stretch;
  min-height: fill-available;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  margin: 0;
  padding: 0;
  letter-spacing: 0.3px;
  font-size: 15px;

  background-color: $bg;
  color: $text;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.6;
    font-weight: 600;
  }

  section {
    margin: 2em min(10%, 20%, 20%);
  }
}

footer {
  margin: 1em min(10%, 20%, 20%);
  display: flex;
  justify-content: space-between;
  align-items: center;

  .icons {
    display: flex;
    gap: 10px;

    a {
      color: $text;
      transition: $transition;

      &:hover {
        color: $accent;
      }
    }
  }
}
