$rosewater: #f4dbd6;
$flamingo: #f0c6c6;
$pink: #f5bde6;
$red: #ed8796;
$maroon: #ee99a0;
$peach: #f5a97f;
$yellow: #f5e48b;
$yellow-light: #faedae;
$yellow-trans: #eed49f9d;
$green: #a6da95;
$sapphire: #7dc4e4;
$mauve: #cba6f7;

$bg: #FCECEB;
$bg-alt: #F9D5D0;
$accent: #F3A4A0;
$accent-light: #F7D8D5;
$text: #B84927;
$text-trans: #b8492787;

$surface0: #363a4f;
$base2: #24273a;
$base: #292c43;
$base-lightest: #363b58;
$base-lightest2: #424869;
$base-light: #2e314ba7;
$base-dark: #181825;
$base-darkest: #151521;
$mantle: #1e2030;
$crust: #181926;
$crust-dark: #141520;
$white: #eaefff;
$white-lightest: #eaefffb2;
$white-light: #eaefff90;
$white-trans: #eaefff4a;
$white-faint: #eaefff10;

$radius: 5px;
$transition: all 0.2s ease-in-out;
