@import "../partials/variables";
@import "../partials/mixins";

.notFound {
    @include flex-center;
    flex-direction: column;
    text-align: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
}

.heading {
    padding-top: 20px;
}

.content {
    padding-top: 10px;
}