@import "../partials/variables";
@import "../partials/mixins";

.main {
    margin: 2em min(10%, 20%, 20%);
    height: 100vh;

    .heading {
        @include text-size(20, 30);
        width: 100%;
        display: block;
        padding-bottom: 20px;
    }

    .activityListContainer {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 10px;

        .activityItemContainer {
            background: red;
            border-radius: $radius;
            padding: 15px;

            .activityItem {
                
            }

            .activityTimestamp {

            }
        }
    }
}