@import "../partials/variables";
@import "../partials/mixins";

.main {
  margin: 2em min(10%, 20%, 20%);

  h2 {
    @include text-size(20, 30);
    width: 100%;
    display: block;
    padding-bottom: 10px;
  }

  .userIdWrapper {
    display: flex;
    align-items: center;
    gap: 5px;
    position: absolute;
    bottom: 0;
    padding-bottom: 20px;
    color: $white-light;

    .icon {
      font-size: 14px;
    }

    .userId {
      font-size: 14px;
      background-color: $base-darkest;
      color: $base-darkest;

      &:hover {
        background-color: transparent;
        color: $white-light;
      }
    }
  }

  .settingsFormInput {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-top: 20px;

    input {
      @include no-borders;
      display: block;
      width: 100%;
      padding-left: 10px;
      height: 40px;
      border-radius: $radius;
      background: $base;
      caret-color: $white-trans;
      color: $white-light;

      &:focus,
      &:active {
        background-color: $base-light;
      }

      &::placeholder {
        @include text-size(12, 14);
        color: $white-trans;
      }
    }

    textarea {
      @include no-borders;
      background: $base;
      resize: none;
      min-height: 80px;
      padding: 10px;
      border-radius: $radius;
      caret-color: $white-trans;
      color: $white-trans;
      font-family: 'Inter', sans-serif;

      &:focus,
      &:active {
        background: $base-light;
      }

      &::placeholder {
        @include text-size(12, 14);
        color: $white-trans;
      }
    }

    .fieldHeading {
      @include text-size(12, 16);
      font-weight: 500;
    }

    .settingsEmail {
      cursor: not-allowed;
      color: $white-trans;
    }

    .settingsConfirm {
      @include text-size(12, 14);
      @include no-borders;
      height: 30px;
      border-radius: $radius;
      background: $yellow;
      padding: 0 25px;

      cursor: pointer;
      transition: $transition;

      &:hover {
        background: $yellow-light;
      }
    }
  }
}
