$rosewater: #f4dbd6;
$flamingo: #f0c6c6;
$pink: #f5bde6;
$red: #ed8796;
$maroon: #ee99a0;
$peach: #f5a97f;
$yellow: #eed49f;
$yellow-light: #fce2ae;
$yellow-trans: #eed49f9d;
$green: #a6da95;
$base: #292c43;
$base-lightest: #363b58;
$base-light: #2e314b;
$base-dark: #181825;
$mantle: #1e2030;
$crust: #181926;
$white: #eaefff;
$white-light: #eaefff7d;
$white-trans: #eaefff4a;

$radius: 5px;
$transition: all 0.2s;